.App {
  
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  border: solid red 1px;
  font-size: calc(10px + 2vmin);
  color: white;
}




.titulonavbar{

  color:red;
 

}

